extends layout
block content 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    
    div(id="conversation", class="conversation")
    form(id="chatForm")
        label(for="message") User Text
        input(type="text" id="message" placeholder="Type your message here" required)
        input(type="submit" value="Send")
    
    br
    br

    form(id="chatEndedForm" method='get' action='/chat-api-ended')
        p End Chat
        input(type="submit" value="End Chat")
    br

    script.
        function updateConversationScroll(){
            var element = document.getElementById("conversation");
            element.scrollTop = element.scrollHeight - element.clientHeight;
        }

        let preferences_user_avatar = !{JSON.stringify(preferences.user_avatar)} ? !{JSON.stringify(preferences.user_avatar)} : "";
        let preferences_agent_avatar = !{JSON.stringify(preferences.agent_avatar)} ? !{JSON.stringify(preferences.agent_avatar)} : "";
        let preferences_user_name = !{JSON.stringify(preferences.user_name)} ? !{JSON.stringify(preferences.user_name)} : "";
        let preferences_agent_name = !{JSON.stringify(preferences.agent_name)} ? !{JSON.stringify(preferences.agent_name)} : "";

        $(document).ready(function(){
            $('#chatForm').on('submit', function(e){
                e.preventDefault();
                $("#conversation").children().removeClass("chat-last");

                const message = $('#message').val();
                let element = document.createElement("div");
                element.className = "chat-user chat-last";
                let img_elem = document.createElement("img");
                img_elem.className = "chat-avatar";
                img_elem.setAttribute("src", preferences_user_avatar);

                element.appendChild(document.createTextNode(preferences_user_name));
                element.appendChild(img_elem);
                element.appendChild(document.createTextNode(message));
                document.getElementById('conversation').appendChild(element);
                updateConversationScroll();

                $.ajax({
                    url: './chat-api',
                    type: 'POST',
                    data: {
                        message: message
                    },
                    success: function(response) {
                        let element = document.createElement("div");
                        element.className = "chat-agent chat-last";
                        let img_elem = document.createElement("img");
                        img_elem.className = "chat-avatar";
                        img_elem.setAttribute("src", preferences_agent_avatar);

                        element.appendChild(document.createTextNode(preferences_agent_name));
                        element.appendChild(img_elem);
                        element.appendChild(document.createTextNode(response));
                        document.getElementById('conversation').appendChild(element);

                        $('#chatForm')[0].reset();
                        updateConversationScroll();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });