html
  head
    title= title 
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div(class="header")
      h2= "debug... header div"
    div(class="left" )
      h2= "debug... left div"
    div(class="content" )
      h2= "debug... content div"
      block content
    div(class="footer" )
      h2= "debug... footer div"

