extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/user_questionnaire-ended')
        if questions
            // Loop through the elements of questions object keys (question name) and values (question text).
            // have numbered questions and a submit button.
            // present each value as a label and a text box for the user to enter their answer.
            // submit all the question names and user answers to the server
            each value, key in questions
                h3=value["label"]
                if value["is_text"] == true
                    input(type='text', name=key, required="required")
                else
                    label 0 (Lowest)
                    input(type='radio', class="radio_selection" name=key, value="1", required="required")
                    input(type='radio', class="radio_selection" name=key, value="2", required="required")
                    input(type='radio', class="radio_selection" name=key, value="3", required="required")
                    input(type='radio', class="radio_selection" name=key, value="4", required="required")
                    input(type='radio', class="radio_selection" name=key, value="5", required="required")
                    input(type='radio', class="radio_selection" name=key, value="6", required="required")
                    input(type='radio', class="radio_selection" name=key, value="7", required="required")
                    label 7 (Highest)
                br
                br
                br
        input(type='submit' value='Finish')