extends layout
block content 
    h1
    h2 Please answer the following questions

    form(class="demo_qustionnaire" method='POST' action='/user_questionnaire-ended')
        if questions
            // Loop through the elements of questions object keys (question name) and values (question text).
            // have numbered questions and a submit button.
            // present each value as a label and a text box for the user to enter their answer.
            // submit all the question names and user answers to the server
            each value in questions
                if value["is_text"] == true
                    br
                    br
                    h3=value["label"]
                    input(type='text', class="form-text-input" name=value["name"], required="required")

                else if value["is_multi_choice"] == true
                    br
                    br
                    h3=value["label"]
                    each choice in value["choices"]
                        input(type='radio', class="radio_selection" name=value["name"], value=choice, required="required")
                        label=choice
                        br
                else if value["is_likert"] == true
                    br
                    if value["label"]
                        br
                        h3=value["label"]
                    label= "0 (" + value["likert_scale"][0] + ")"
                    input(type='radio', class="radio_selection" name=value["name"], value="1", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="2", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="3", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="4", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="5", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="6", required="required")
                    input(type='radio', class="radio_selection" name=value["name"], value="7", required="required")
                    label= "7 (" + value["likert_scale"][1] + ")"
                else 
                    if value["label"]
                        br
                        br
                        h3=value["label"]
        br
        br
        input(type='submit' value='Finish')