extends layout
block content 
    h2
    if body_message
        h3=body_message    

    form(method='POST' action='/user_preferences')
        label Choose a name for the AI agent
        br
        input(type='text', class="form-text-input" name="preferences.agent_name", required="required")
        br
        br

        // two radio button groups for the user to select their avatar and the agent's avatar.
        // we want to have the two groups of radio buttons in two coumns visible side by side.
        // we will use the grid layout to achieve this.
        label Choose an avatar image for the AI agent (scroll down to see all options)
        br
        div(class="avatar_selection")
            each value, key in agent_avatar
                div
                    input(type='radio', name='preferences.agent_avatar', value=value, required="required")
                    img(src=value, alt=key, id=key, width='100', height='100')
        br
        br

        P 
        if userConfig
            if body2_message
                h3=body2_message  
                P
            // Loop through the userConfig keys and values (which are arrays of options per key).
            // present each key as a label and the values as radio button options
            // submit all the radio labels as well as selected values to the server
            each values, key in userConfig
                h3 
                  label #{key}
                P
                each option, index in values
                    input(type='radio', name="user_config."+key, value=option, id=option, required="required")
                    label(for=option) #{option}
                    
                    br
                br
                br


        input(type='submit' value='Apply Preferences')